<div class="container">
    <div class="p-4 mt-4 mb-2 border-bottom">
        <div class="btn-toolbar pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-primary outline" *ngIf="hasRole('c')" routerLink="/customer/shop">Shop</button>
            <button type="button" class="btn btn-primary outline" *ngIf="hasRole('c')" routerLink="/customer/orders">Orders</button>
            <button type="button" class="btn btn-primary outline" *ngIf="hasRole('e')" routerLink="/employee/orders">Manage Orders</button>
            <button type="button" class="btn btn-primary outline" *ngIf="hasRole('m')" routerLink="/manager/stats">Order Statistics</button>
            <button type="button" class="btn btn-primary outline" *ngIf="hasRole('m')" routerLink="/manager/orders">Review Orders</button>
            <button *ngIf="!auth.isAuthenticated()" type="button" class="btn btn-primary outline" routerLink="/">Login</button>
            <button *ngIf="auth.isAuthenticated()" type="button" class="btn btn-primary outline" (click)="auth.logout()">Logout</button>
          </div>
        </div>
      <h1 class="align-middle d-inline">EatNow!</h1>
      <span class="p-2 text-white"*ngIf="userInfo">Logged in as {{ userInfo.name }}</span>
    </div>
</div>
<main class="container">
    <router-outlet></router-outlet>
</main>
