<div *ngIf="openOrders.length == 0">
  <div class="card">
    <div class="card-body">
      There are no orders to be fulfilled at the moment.
    </div>
  </div>
</div>
<div *ngIf="openOrders.length > 0">
  <h1>Open orders</h1>
  <div class="pb-4" *ngFor="let order of openOrders">
    <div class="card bg-light text-dark">
      <div class="card-header">
        Order #{{order._id}} for customer {{order.customerId}}
      </div>
      <div class="card-body clearfix">
        <div class="border-bottom pb-2">
          <div *ngFor="let oi of order.orderItems" class="border-bottom pb-1 clearfix">
            <b>{{oi.item.name}}</b> (${{oi.item.price}}) <span class="float-right">x {{oi.count}}</span>
          </div>
        </div>
        <div>
          <div><b>Delivery Address:</b> {{order.deliveryAddress}}</div>
        </div>
      </div>
      <div class="card-footer">
        <div class="float-left">
          <button type="button" class="btn btn-primary" (click)="markOrderDelivered(order._id)">
            Mark as delivered <i class="fa fa-check"></i>
          </button>
        </div>
        <div class="float-right">
          <b>Total Cost:</b> ${{order.totalCost}}
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="deliveredOrders.length > 0">
  <h1>Closed orders</h1>
  <div class="pb-4" *ngFor="let order of deliveredOrders">
    <div class="card bg-light text-dark">
      <div class="card-header">
        Order #{{order._id}} for customer {{order.customerId}}
      </div>
      <div class="card-body clearfix">
        <div class="border-bottom pb-2">
          <div *ngFor="let oi of order.orderItems" class="border-bottom pb-1 clearfix">
            <b>{{oi.item.name}}</b> (${{oi.item.price}}) <span class="float-right">x {{oi.count}}</span>
          </div>
        </div>
        <div>
          <div><b>Delivery Address:</b> {{order.deliveryAddress}}</div>
        </div>
      </div>
      <div class="card-footer">
        <div class="float-right">
          Total Cost: ${{order.totalCost}}
        </div>
      </div>
    </div>
  </div>
</div>
