/* You can add global styles to this file, and also import other style files */

@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/font-awesome/css/font-awesome.css";
@import "./colors";

.main-background {
  background: url(../background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
