<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Login</h3>
        </div>
        <div class="panel-body bg-white p-4 card">
          <ul class="pb-2 mb-2 border-bottom nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="javascript:;" [ngClass]="{ 'active': loginType === 'c' }" (click)="loginType = 'c'">Customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;" [ngClass]="{ 'active': loginType === 'e' }" (click)="loginType = 'e'">Employee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;" [ngClass]="{ 'active': loginType === 'm' }" (click)="loginType = 'm'">Manager</a>
            </li>
          </ul>
          <div>
            <div class="form-group">
              <label for="loginid">Login ID</label>
              <input type="text" class="form-control" id="loginid" required  [(ngModel)]="loginId">
            </div>
            <div class="form-group" *ngIf="loginType === 'c'">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="loginName">
            </div>
            <div class="form-group" *ngIf="loginType === 'c'">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" required [(ngModel)]="address">
            </div>
            <button type="button" class="btn btn-success" (click)="login()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
