<h2>Order Items</h2>
<div class="row">
  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let cartItem of cartItems">
        <div>
          <b>{{cartItem.item.name}}</b> (${{cartItem.item.price}}) x {{cartItem.count}}
        </div>
      </li>
    </ul>
    <div class="p-4">
      <div class="btn-group btn-group-justified">
        <div class="btn-group" *ngIf="!order" >
          <button type="button" class="btn btn-primary" (click)="checkOut()">
            Buy ${{getTotalPrice()}} <span class="fa fa-shopping-cart"></span>
          </button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" [routerLink]="['/customer/shop']">
            Continue Shopping
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <div *ngIf="order" class="card bg-light text-dark">
        <div class="card-body">
          <h2>Thanks for Your Order!</h2>
          <div><b>Order Id:</b> <span class="text-dark">{{order._id}}</span></div>
          <div><a [routerLink]="['/customer/orders']">All orders</a></div>
      </div>
  </div>
</div>
