<div>
  <span><b>{{item.name}}</b></span>
  <span class="pull-right button-group">
    <button type="button" class="btn btn-primary btn-xs" (click)="addToCart(item)">
     ${{item.price}} <i class="fa fa-plus" ></i>
    </button>
  </span>
</div>
<div>
  <span class="mr-1 p-1 badge badge-secondary" *ngFor="let ingredient of item.ingredients">{{ingredient}}</span>
</div>
