<div class="row">
  <div class="col-xl-4 col-md-6 col-sm-12 pb-4" *ngFor="let order of orders">
    <div class="card bg-light text-dark">
      <div class="card-header" [ngClass]="{ 'bg-warning': order.status === 'open' }">
        Order #{{order._id}}
      </div>
      <div class="card-body clearfix">
        <div>
          <div *ngFor="let oi of order.orderItems" class="clearfix">
            <b>{{oi.item.name}}</b> (${{oi.item.price}}) <span class="float-right">x {{oi.count}}</span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="float-left">
          <span class="mr-1 p-1 badge badge-secondary" *ngIf="order.status === 'open'">OPEN</span>
          <span class="mr-1 p-1 badge badge-secondary" *ngIf="order.status !== 'open'">DELIVERED</span>
        </div>
        <div class="float-right">
          <b>Total Cost:</b> ${{order.totalCost}}
        </div>
      </div>
    </div>
  </div>
</div>
