<div class="row">
  <div class="col-md-6">
    <h2>Foods</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let food of foods">
        <app-itemview [item]="food" (onAddedToCart)="addToCart($event)"></app-itemview>
      </li>
    </ul>
    <h2>Drinks</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let drink of drinks">
        <app-itemview [item]="drink" (onAddedToCart)="addToCart($event)"></app-itemview>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="clearfix">
      <div class="float-md-left">
        <h2 >Cart <span *ngIf="cartItems().length === 0">(empty)</span></h2>
      </div>
      <div class="float-md-right">
        <button *ngIf="cartItems().length > 0" type="button" class="btn btn-primary btn-xs" (click)="checkOut()">
          <i class="fa fa-shopping-cart"></i> Checkout
        </button>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let cartItem of cartItems()">
        <div>
          <span class="p-2"><b>{{cartItem.item.name}}</b> (${{cartItem.item.price}}) x {{cartItem.count}}</span>
          <span class="pull-right button-group">
            <button type="button" class="btn btn-primary btn-xs" (click)="removeFromCart(cartItem.item)">
              <span class="fa fa-minus" ></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs" (click)="removeAllFromCart(cartItem.item)">
              <i class="fa fa-remove" ></i>
            </button>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
