<div class="row h-100">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Number of items sold</h5>
      </div>
      <div class="card-body">
          <div *ngIf="stats.length > 0">
            <canvas id="itemcountschart" baseChart
                    [data]="orderedCount"
                    [labels]="orderedLabels"
                    chartType="doughnut">
            </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Incomes per order type</h5>
      </div>
      <div class="card-body">
        <div *ngIf="stats.length > 0">
          <canvas id="itemincomeschart" baseChart
                  [datasets]="[ { 'data': orderedtotalIncome, 'label': 'Total Incomes' } ]"
                  [labels]="orderedLabels"
                  [options]="{ 'scaleShowVerticalLines': false, 'responsive': true }"
                  [legend]="false"
                  chartType="horizontalBar">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-4">
  <table class="table table-striped table-dark">
    <tr>
      <th>Item</th>
      <th>Sold</th>
      <th>Income</th>
    </tr>
    <tr *ngFor="let item of stats">
      <td>{{item.name}}</td>
      <td>{{item.count}}</td>
      <td>${{item.fullIncome}}</td>
    </tr>
  </table>
</div>
