  <h1>All orders</h1>
  <div class="pb-4" *ngFor="let order of allOrders">
    <div class="card bg-light text-dark">
      <div class="card-header">
        Order #{{order._id}} for customer {{order.customerId}}
      </div>
      <div class="card-body clearfix">
        <div class="pb-2">
          <div *ngFor="let oi of order.orderItems" class="clearfix">
            <b>{{oi.item.name}}</b> (${{oi.item.price}}) <span class="float-right">x {{oi.count}}</span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="float-left">
          <span class="mr-1 p-1 badge badge-secondary" *ngIf="order.status === 'open'">OPEN</span>
          <span class="mr-1 p-1 badge badge-secondary" *ngIf="order.status !== 'open'">DELIVERED</span>
        </div>
        <div class="float-right">
          <b>Total Cost:</b> ${{order.totalCost}}
        </div>
      </div>
    </div>
  </div>
